body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: cursive;
  background-color: #fff;
  color: #000;
  transition: background-color 2s, color 2s;
}

body.dark {
  background-color: #000;
  color: #fff;
}

h1 {
  color: #000;
  margin-bottom: 20px;
}

h1.dark {
  color: #fff;
}

button {
  font-family: cursive;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s;
}

button.dark {
  background-color: #fff;
  color: #000;
}

button:hover {
  opacity: 0.7;
  transform: scale(1.3);
  transition: all 0.5s;
}
