body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: cursive;
  background-color: black;
  color: white;
}

button {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  margin: 10px;
  font-family: cursive;
  border: none;
  border-radius: 7px;
}

#decrement{
  background-color: red;
  color: white;
}

#increment{
  background-color: green;
  color: white;
}

button:hover{
  opacity: 0.7;
  transform: scale(1.05);
  transition: all 0.5s;
}

h1 {
  font-size: 4rem;
  margin: 20px 0;
  font-weight: bold;
}
